body {
  height: 100%;
  box-sizing: border-box;
}

.master-container {
  background-color: #d8d8d8;
  height: 1250px;
  width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

.container1 {
  background-color: #FFFFFF;
  height: 300px;
  width: 650px;
  position: relative;
  bottom: 400px;
  }

  p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    margin: auto;
    padding: 25px;
    position: relative;
  }

  .red-button {
    height: 60px;
    width: 140px;
    background-color: red;
    display: inline-block;
    margin: 20px;
    color: #FFF;
    text-align: center;
  }

  .blue-button {
    height: 60px;
    width: 140px;
    background-color: #5cb3ed;
    display: inline-block;
    margin: 20px;
    color: #FFF;
    text-align: center;
  }

   .text1 {
    text-align: center;
    padding: 15px;
    font-size: 1.5em;

  }

   .text2 {
    text-align: center;
    padding: 15px;
    font-size: 1.5em;

  }

  .container2 {
    height: 675px;
    width: 650px;
    background-color: #FFF;
    margin-top: 35px;
  }

  img {
    height: 400px;
    width: 600px;
    margin: auto;
    position: relative;
    top: 25px;
    left:25px;
  }

  a {
    text-decoration: none;
    color: #FFF;
    }

    .footer {
      height: 100px;
      width: 800px;
      background-color: #333332;
      margin-top: 44px;
      position: relative;
      right: 75px;
    }

  .apple {
    color: #FFF;
    float: right;
  }

  .google {
    color: #FFF;
    float: right;
  }
